header, nav, main, footer { display: block; }
body { background-image: url(images/background.png);
       background-repeat: no-repeat;
       background-attachment: fixed;
       font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#wrapper { 
       width: 960px;
       margin: auto;
		background-color: #F4E8BC;
		color: #152c10;
		box-shadow: 5px 5px 5px #152c10;
}
header{
       height: 14em;
       display: flex;
}
h1   {
     background-color: #F4E8BC;
	 height: 110px;
	 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	 font-size: 4em;
     padding-left: 60px;
	 padding-top: 10px;
	 text-shadow: 3px 3px 3px #90745D;
	 margin-bottom: 0;
}
h2{
       font-size: 2em;
}
p{
       font-size: 1em;
}
nav { padding-top: 10px;
      float: left;
      width: 200px;
      background-color: #90745D; 
}
nav ul { list-style-type: none;
       padding-right: 40px;
       margin-left: auto;
       margin-right: auto;
	 }
nav li { padding: 13px;
       font-weight: bold;
}
nav a { text-decoration: none; font-size: 1.5em; }
nav a:link { color: #ffffff; }
nav a:visited{ color: #ffaca7; }
nav a:hover { color: #cbf480; }



main { 
       display: flex;
       flex-direction: column;
       background-color: #FFFFCC;
          margin-left: 200px;
          padding: 1px 20px 20px 20px;   
		  min-height: 300px;
}
main img { float: right;
              padding: 20px;
}

footer { background-color: #FFFFCC;
       margin-left: 200px;
       padding: 20px;
       text-align: center;
	   font-size: small;
	   font-style: italic;
}
	  