*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logoshow{
       display: none;
}
body { background-image: url(../images/background.png);
       background-color: #cbf480;
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size:cover;
       font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       display: flex;
       flex-direction: column;
       
}
header{
       display:flex;
       flex-direction: column;
       align-items: center;
       padding: 1rem;
}
nav {
       display: flex;
       flex-direction: column;
       align-items: center;
       background-color: #90745D; 
       border: 2px dashed #FFFFCC;
}
nav ul {
       list-style-type: none;
}
nav li {
       font-weight: bold;
       text-align: center;
       margin:1rem;
}
nav a { 
       text-decoration: none; 
       font-size: 1.5rem;

}
nav a:link { color: #ffffff; }
nav a:visited{ color: #ffaca7; }
nav a:hover { color: #cbf480; border-bottom: 2px dashed #cbf480;}

main { 
       padding: 1rem;
       background-color: #FFFFCC;
       border: 2px dashed #90745D;
}
footer {
       display: flex;
       flex-direction: column;
       align-items: center; 
       background-color: #FFFFCC;
       padding: 1rem;
       
       border-bottom: 2px dashed #90745D;
       border-left: 2px dashed #90745D;
       border-right: 2px dashed #90745D;
}
form{
       display: flex;
       flex-direction: column;
       width: 50%;
}
.ratingitem{
       margin: 1rem;
}
.textitem{
       display: flex;
       margin: 1rem;
}
table{
       width: 90%;
       text-align: center;
       margin: 1.5rem auto;
}
tr:nth-of-type(even) { background-color: #cbf480; }

input{
       margin:0 1rem;
}
label{
       margin:0 1rem;
}
h1   {
	 font-size: 3rem;
	 text-shadow: 3px 3px 3px #90745D;
}
h2{
       font-size: 2em;
       padding: .5rem;
}
p{
       font-size: 1em;
       padding: .5rem;
}
ul{
       margin: 1rem;
}


@media (min-width: 600px){
       nav{
              margin:0 5rem;
       }
       main{
              margin:0 5rem;
       }
       footer{
              margin: 0 5rem 1rem;
       }
}

@media (min-width: 1200px){
       @supports (display:grid){
              body{
                     display:grid;
                     grid-column:  4rem 1fr 1fr;
                     grid-row: 4rem 1fr 2rem;
                     grid-template-areas:
                     "header header header"
                     "nav main main"
                     "footer footer footer"
                     ;
                     gap: 1rem;
                     margin: 3rem 20rem;
              }
              header{
                     grid-area: header;
                     flex-direction: row;
                     justify-content: center;

              }
              nav{
                     grid-area: nav;
                     margin: 0;
              }
              main{
                     grid-area: main;
                     margin: 0;
              }
              footer{
                     grid-area: footer;
                     margin:0;
                     border: 2px dashed #90745D;
              }
       }
       #logoshow{ display: inline;
       }
       h1{
              font-size: 4rem;
       }
}

